@media all and (device-width: 48rem) and (device-height:64rem) and (orientation:portrait) {
    .vertical-positioning-wrapper {
        min-height:64rem
    }
}

@media all and (device-width: 48rem) and (device-height:64rem) and (orientation:landscape) {
    .vertical-positioning-wrapper {
        min-height:48rem
    }
}

@media screen and (device-aspect-ratio: 40/71) {
    .vertical-positioning-wrapper {
        min-height:31.25rem
    }
}

.vertical-positioning-wrapper .vertical-positioning-40 {
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%)
}

.vertical-alignment-wrapper {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100%
}

.vertical-positioning-wrapper {
    min-height: 100vh;
    -webkit-transform: translateY(40%);
    -ms-transform: translateY(40%);
    transform: translateY(40%)
}

input::-moz-placeholder,input::-ms-input-placeholder,input::-webkit-input-placeholder {
    text-align: center
}

.vertical-alignment-wrapper__center {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center
}

.vertical-alignment-wrapper__bottom {
    justify-self: flex-end;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto
}

input {
    box-shadow: none
}

input.username {
    border: .125rem solid #ccc;
    border-radius: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none
}

input.username:-moz-placeholder {
    color: #b2b2b2
}

input.username:-ms-input-placeholder {
    color: #b2b2b2
}

input.username::-webkit-input-placeholder {
    color: #b2b2b2
}

input.username.placeholder {
    color: #b2b2b2!important
}

input.username:focus {
    box-shadow: none;
    border: .125rem solid #333
}
